
/* elementos genericos */

.arrow{
    width: 30px;
}

.classic-button{
    padding: 8px;
    background-color: var(--white);
    border: 1px solid var(--black);
    font-weight: 600;
    text-transform: uppercase;
    margin: 8px 0;
    width: 50%;
    font-size: 1.2rem;
    align-self: center;
}

.classic-button:hover{
    color: var(--blue);
    background-image: linear-gradient(#ffffffaf, #ffffffaf), url(./assets/fondo-cielo.jpg);
    background-size: cover;
    border: 1px solid var(--blue);
}

hr{
    color: var(--black);
    margin: 0 0;
}

/* nav bar */

nav{
    background-color: var(--white);
    height: 50px;
    padding: 0 30px;
    border-bottom: 1px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav img{
    width: 120px;
}

.nav-buttons{
    display: flex;
    color: var(--black);
    gap: 20px;
    font-weight: 600;
}

.nav-buttons :last-child{
    color: var(--blue);
    font-weight: 600;
}

.nav-buttons a{
    text-decoration: none;
}

.nav-buttons a:hover{
    background-color: var(--blue);
    color: var(--white);
}

.burger-menu{
    display: none;
}

/* hero */

.hero{
    position: relative;
    text-align: center;
    height: calc(100dvh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#ffffffaf, #ffffffaf) , url(./assets/fondo-cielo.jpg);
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 2rem;
    z-index: 1;
}

.hero h1{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 6rem;
}

.hero h2{
    color: var(--blue);
    font-family: 'Sue Ellen Francisco';
    font-weight: 200;
    font-size: 7rem;
    width: 100%;
}

.hero h3{
    display: inline;
    width: 70%;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.hero-images{
    width: 100%;
    height: 100dvh;
    position: relative;
    padding: 0;
}

.hero-image:nth-child(1){
    height: 17rem;
    width: 12rem;
    background-image: url(./assets/covid.jpg);
    background-size: cover;
    position: absolute;
    top: 30px;
    left: 10%;
}

.hero-image:nth-child(2){
    height: 18rem;
    width: 12rem;
    background-image: url(./assets/dengue.jpg);
    background-size: cover;
    position: absolute;
    right: 5%;
    top: 250px;
}

.hero-image:nth-child(3){
    height: 12rem;
    width: 22rem;
    background-image: url(./assets/playfair.jpg);
    background-size: cover;
    position: absolute;
    top: 350px;
    left: 5%;
}

.hero-image:nth-child(4){
    height: 10rem;
    width: 20rem;
    background-image: url(./assets/logotipos.jpg);
    background-size: cover;
    position: absolute;
    right: 10%;
    top: 30px;
}

.hero-image:hover{
    background-image: linear-gradient(var(--blue), 50%, var(--blue));  
}


/* work */

.work{
    padding: 10% 10% 5%;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.figure-work{
    width: 40%;
}

.figure-work img{
    width: 100%;
}

.figure-work:first-child{
    margin-top: -100px;
}

.figure-work:nth-child(3){
    margin-top: -100px;
}

.figure-work.right{
    align-self: 0;
    margin-left: 0%;
}

.figure-work h5{
    font-size: 1.2rem;
}

.work-brand{
    margin-top: 10px;
    font-weight: 600;
}

.work-service{
    font-weight: 400;
    font-style: italic;
}

.classic-button.ver-trabajos{
    padding: 8px;
}

/* SERVICIOS */

.frase-puentes{
    padding: 10%;
    text-align: center;
}

.frase-puentes h3:first-child{
    color: var(--blue);
    font-family: var(--corsiva);
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: -2px;
}

.frase-puentes h3{
    font-size: 3rem;
    font-weight: 400;

}

.frase-puentes h3:last-child:after{
    content: url(./assets/carita-feliz.png);
    position: relative;
    left:10px;
    top: 10px;
}

.servicios{
    padding: 0% 10% 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre-servicio{
    margin: 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.ver-servicios{
    margin: 5% 0 0 0;
    padding: 8px;
}

/* CONTACTO */

.contacto{
    margin: 0;
    padding: 0% 10% 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--white);
}

.contacto figure{
    width: 20%;
    align-self: center;
    margin: -10% 0 0 0;
}

.contacto img{
    width:100%;
}

.contacto h3{
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    margin: 3rem 0 0 0;
}

.contacto strong{
    font-weight: 400;
    font-family: var(--corsiva);
    font-size: 4rem;
    color: var(--blue);
    line-height: 1rem;
    margin:-5% 0 0 0;
}

 .ver-contacto{
    margin: 3rem 0 0 0;
}

/* FOOTER */
footer{
    background-color: var(--black);
    color: var(--white);
    padding: 5% 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rrss{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
}

footer i{
    color: var(--white);
    font-size: 30px;
    padding: 8px;
}
footer i:hover{
    background-color: var(--blue);
    font-size: 30px;
}

.footer-img{
    width: 30%;
    display: flex;
    justify-content: center;
}

footer img{ 
    width: 40%;
}

.directorio{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.directorio a{
    margin: 0;
}

.directorio a:hover{
    display: inline;
    background-color: var(--blue);
    line-height: 3rem;
    font-size: 1.2rem;
    text-decoration: none;
}

.derechos{
    padding: 1rem;
    background-image: linear-gradient(#ffffffaf, #ffffffaf) , url(./assets/fondo-cielo.jpg);
    margin: 0;
}

.derechos h6{
    color: var(--black);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}