/* hojas de estilo */
@import url(./normalize.css);
@import url(./mobile.css);
@import url(./tablet.css);
@import url(./desktop.css);

/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Sue+Ellen+Francisco&display=swap');

:root{
    --white: #f9f5f2;
    --blue: #2c2382;
    --black: #0c0c0c;
    --corsiva: 'Sue Ellen Francisco';
    --normal: 'Inter Tight';
}

*{
    font-family: 'Inter Tight';
    color: #0c0c0c;
    margin: 0;
}

